---
import XPass from "../components/XPass/index.astro";
import Layout from "../layouts/default.astro";
import Button from "../components/Button/index.astro";
---

<style>
  @import "tailwindcss";
  #ch1:checked ~ div {
    & #view1 {
      display: flex;
    }
    & [for="ch1"] {
      @apply bg-white text-black;
    }
  }
  #ch2:checked ~ div {
    & #view2 {
      display: flex;
    }
    & [for="ch2"] {
      @apply bg-white text-black;
    }
  }
</style>
<Layout>
  <canvas class="min-h-0" id="graph"></canvas>
  <div class="m-4">
    <input
      type="radio"
      name="channel"
      value="1"
      id="ch1"
      class="hidden"
      checked
    />
    <input type="radio" name="channel" value="2" id="ch2" class="hidden" />
    <div class="flex items-end justify-between">
      <h1
        class="text-2xl p-1 px-4 border border-solid border-white bg-white text-black rounded-t inline-block text-center"
      >
        Equalizer
      </h1>
      <div class="flex gap-0.5 bg-white border border-solid border-white">
        <label class="px-4 py-1 h-full bg-black transition" for="ch1"
          >Channel 1</label
        >
        <label class="px-4 py-1 h-full bg-black transition" for="ch2"
          >Channel 2</label
        >
      </div>
    </div>
    <div
      class="border-white border-solid border text-white rounded-bl-xl p-4 bg-white/5"
    >
      <div id="view1" class="hidden flex-col gap-8 grow-1">
        <div class="grid grid-cols-2 gap-6">
          <XPass id="lowpass" pass="low" />
          <XPass id="highpass" pass="high" />
        </div>
        <div class="grid grid-cols-5 gap-4">
          {
            new Array(5).fill(0).map((_, index) => (
              <div>
                <div class="inline-block px-2 py-0.5 rounded-t bg-white text-black">
                  EQ {index + 1}
                </div>
                <div class="border border-solid rounded rounded-tl-none relative p-4">
                  EQ goes here
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <div id="view2" class="hidden flex-col gap-8 grow-1">
        <div class="grid grid-cols-2 gap-6">
          <XPass id="lowpass" pass="low" />
          <XPass id="highpass" pass="high" />
        </div>
        <div class="grid grid-cols-5 gap-4">
          {
            new Array(5).fill(0).map((_, index) => (
              <div>
                <div class="inline-block px-2 py-0.5 rounded-t bg-white text-black">
                  EQ {index + 1}
                </div>
                <div class="border border-solid rounded rounded-tl-none relative p-4">
                  EQ goes here
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="flex justify-end pt-4">
      <Button text="Save" onclick="save" />
    </div>
  </div>

  <script>
    import Chart from "chart.js/auto";
    import { createData } from "../dsp.ts";
    import { eq, type EQConfig } from "../global.ts";
    import { chartData } from "../chart.ts";
    import { throttled } from "../utils.ts";

    const lowPassElem = document.getElementById("lowpass") as HTMLElement;
    const highPassElem = document.getElementById("highpass") as HTMLElement;
    let newEq: EQConfig;
    try {
      let response = await fetch("/api?action=get_all");
      newEq = await response.json();
    } catch {
      newEq = {
        lowpass: { q: 0.7, freq: 430, order: 2 },
        highpass: { q: 0.7, freq: 430, order: 0 },
      };
    }

    eq.set([newEq, newEq]);

    lowPassElem.setAttribute("freq", newEq.lowpass.freq.toString());
    lowPassElem.setAttribute("q", newEq.lowpass.q.toString());
    lowPassElem.setAttribute("order", newEq.lowpass.order.toString());

    highPassElem.setAttribute("freq", newEq.highpass.freq.toString());
    highPassElem.setAttribute("q", newEq.highpass.q.toString());
    highPassElem.setAttribute("order", newEq.highpass.order.toString());

    const graphCanvas = document.getElementById("graph") as HTMLCanvasElement;

    const data = createData(eq.value);

    const chart = new Chart(graphCanvas, chartData(data));
    window.addEventListener("save", async (_e) => {
      console.log("saving");
      await fetch("/api?action=save");
    });
    const throttleFetch = throttled(fetch, 200);
    const throttleLog = throttled(console.log, 200);
    window.addEventListener("update", (e) => {
      const event = e as CustomEvent<{ lul: string }>;
      chart.data.datasets[0].data = createData(eq.get());
      chart.update();
      throttleLog(event.detail);
      const search = new URLSearchParams({
        action: "set",
        ...event.detail,
      });
      throttleFetch("/api?" + search.toString());
    });
  </script>
</Layout>
