---
interface Props {
  pass: "high" | "low";
  id: string;
}
const { pass, id } = Astro.props;
---

<x-pass data-type={pass} id={id}>
  <div class="p-0.5 px-2 rounded-t bg-white text-black inline-block">
    {pass === "high" ? "Highpass" : "Lowpass"}
  </div>
  <div
    class="grid grid-cols-[1fr_1fr_4fr] gap-4 w-full border border-solid border-white rounded-sm rounded-tl-none p-4"
  >
    <label class="flex gap-2"> Freq (Hz):</label>
    <input
      class="border border-solid border-white text-right w-16 font-mono"
      type="number"
      id="p-f"
    />
    <input
      class="flex-grow-1"
      type="range"
      step="1"
      min="10"
      max="20000"
      id="p-f-range"
    />
    <label class="flex flex-grow-1 gap-2"> Q-Factor:</label>
    <input
      class="border border-solid border-white text-right w-16 font-mono"
      type="number"
      id="p-q"
      step="0.01"
      value="0.70"
    />
    <input
      class="flex-grow-1"
      type="range"
      min="0"
      max="10"
      step="0.01"
      id="p-q-range"
    />
    <label class="flex flex-grow-1 gap-2"> Order:</label>
    <select
      id="p-order"
      class="border border-solid border-white flex-grow-1 col-span-2"
    >
      <option value="0">disabled</option>
      <option value="1">1st (12 dB/oct)</option>
      <option value="2">2nd (24 dB/oct)</option>
    </select>
  </div>
</x-pass>
<script>
  import {
    rangeChangedLog,
    valueChangedLog,
    update,
    valueChanged,
    toLog,
    fromLog,
  } from "./script.js";

  class XPass extends HTMLElement {
    static observedAttributes = ["freq", "q", "order"];

    passFreq: HTMLInputElement;
    passFreqRange: HTMLInputElement;
    passQ: HTMLInputElement;
    passQRange: HTMLInputElement;
    passOrder: HTMLInputElement;

    constructor() {
      super();

      this.passFreq = this.querySelector("#p-f") as HTMLInputElement;
      this.passFreqRange = this.querySelector("#p-f-range") as HTMLInputElement;

      this.passQ = this.querySelector("#p-q") as HTMLInputElement;
      this.passQRange = this.querySelector("#p-q-range") as HTMLInputElement;

      this.passOrder = this.querySelector("#p-order") as HTMLInputElement;
    }

    connectedCallback() {
      const type = this.dataset.type as "low" | "high";
      this.passFreqRange.addEventListener("input", (e) => {
        const value = rangeChangedLog(this.passFreq)(e);
        update(type, "freq", parseInt(value));
      });
      this.passFreq.addEventListener("change", (e) => {
        const value = valueChangedLog(this.passFreqRange)(e);
        update(type, "freq", parseInt(value));
      });

      this.passQRange.addEventListener("input", (e) => {
        const value = valueChanged(this.passQ)(e);
        update(type, "q", parseFloat(value));
      });
      this.passQ.addEventListener("change", (e) => {
        const value = valueChanged(this.passQRange)(e);
        update(type, "q", parseFloat(value));
      });

      this.passOrder.addEventListener("change", (e) => {
        update(type, "order", parseInt((e.target as HTMLInputElement).value));
      });
    }

    attributeChangedCallback(
      name: string,
      oldValue: string | null,
      newValue: string | null,
    ) {
      if (name == "freq" && newValue) {
        this.passFreq.value = newValue;
        this.passFreqRange.value = fromLog(parseInt(newValue)).toString();
      }
      if (name == "order" && newValue) {
        this.passOrder.value = newValue;
      }
      if (name == "q" && newValue) {
        this.passQ.value = newValue;
        this.passQRange.value = newValue;
      }
    }
  }
  customElements.define("x-pass", XPass);
</script>
