---
import "../style.css"
---
<html class="size-full flex min-h-0">
  <head>
    <title>Micro DSP</title>
    <style>
      html {
        color-scheme: dark;
        background: black;
      }

      select option {
        background: black;
      }
    </style>
  </head>
  <body class="size-full flex flex-col min-h-0 overflow-hidden">
    <slot/>
  </body>
</html>
