---
import Button from "./Button.astro";
import Modal from "./Modal.astro";
---

<Modal title="Settings">
  <form action="/api">
    <input type="hidden" name="action" value="set_settings" />
    <Button onclick="modal-settings-close" text="Cancel" />
    <Button text="Save" />
  </form>
</Modal>
